.container {
  width: 95%;
  padding: 8px 10px;
  box-shadow: #0f0f0f1a 0px 0px 0px 1px, #0f0f0f1a 0px 2px 4px;
  border-radius: 4px;
  cursor: pointer;

  p {
    margin: 0px;
  }

  &:hover {
    background-color: #37352f08;
  }
}
